<div class="blur-layer" ></div>
<div class="project">
</div>    
<center style="position:absolute;top:50px;z-index:3;">
    <div class="company_context">

        <div class="company_col_1">

            <img id="logoImageShow" src="resources/imgs/{{logoImgName}}">

            <div class="company_titles">
                <!-- <h6 class="clickable2" style="font-weight:bold">业主方：</h6> -->
                <p class="clickable2" style="font-size:11px">业主方：</p>
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(1)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京国有资本经营管理中心</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京国有资本经营管理中心</span></h5>

                <p class="clickable2" style="font-size:11px">国外建筑设计所：</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">国外建筑设计所：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(2)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">哈特曼·考克斯建筑设计师事务所</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>哈特曼·考克斯建筑设计师事务所</span></h5>
                <!-- <br/> -->

                <p class="clickable2" style="font-size:11px">国内建筑设计所：</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">国内建筑设计所：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(3)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京建筑设计研究院</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京建筑设计研究院</span></h5>
                <!-- <br/> -->

                <p class="clickable2" style="font-size:11px">开发商：</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">开发商：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold;color:{{clicked}}" ng-click="clickCompany(4)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京金融街控股股份有限公司</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京金融街控股股份有限公司</span></h5>
                <!-- <br/> -->

                <p class="clickable2" style="font-size:11px">资产管理顾问：</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">资产管理顾问：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold;color:{{clicked}}" ng-click="clickCompany(5)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京金融街房地产顾问有限公司</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京金融街房地产顾问有限公司</span></h5>
                <!-- <br/> -->
                
                <p class="clickable2" style="font-size:11px">独家租赁代理及物业管理：</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">独家租赁代理及物业管理：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(6)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">仲量联行</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>仲量联行</span></h5>
                <!-- <br/> -->

                
                
            </div>      
        </div>
          
        <div class="company_col_2">
            <img id="imageShow" src="resources/imgs/split.png">
        </div>

        <div class="company_col_3">
            <div class="company_text">
                <p id="textShow1">
                    {{companyContent}}
                </p>
                <div class="site">
                <span style="font-size:15px;"></span><span id="textShow2" class="title-color">{{url1}}</span><br\>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="textShow3" class="title-color">{{url2}}</span>
                </div>
            </div>
        </div>

    </div>

</center>
