<div class="blur-layer" ></div>
<div class="project">
</div>    
<center style="position:absolute;top:50px;z-index:3;">
    <div class="company_context">

        <div class="company_col_1">

            <img id="logoImageShow" src="resources/imgs/{{logoImgName}}">

            <div class="company_titles">
                <!-- <h6 class="clickable2" style="font-weight:bold">业主方：</h6> -->
                <p class="clickable2" style="font-size:9px">业主方</p>
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(1)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京国有资本经营管理中心</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京国有资本经营管理中心</span></h5>

                <p class="clickable2" style="font-size:9px">国外建筑设计所</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">国外建筑设计所：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(2)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">哈特曼·考克斯建筑设计师事务所</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>哈特曼·考克斯建筑设计师事务所</span></h5>
                <!-- <br/> -->

                <p class="clickable2" style="font-size:9px">国内建筑设计所</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">国内建筑设计所：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(3)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京建筑设计研究院</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京建筑设计研究院</span></h5>
                <!-- <br/> -->

                <p class="clickable2" style="font-size:9px">开发商</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">开发商：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold;color:{{clicked}}" ng-click="clickCompany(4)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京金融街控股股份有限公司</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京金融街控股股份有限公司</span></h5>
                <!-- <br/> -->

                <p class="clickable2" style="font-size:9px">资产管理顾问</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">资产管理顾问：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold;color:{{clicked}}" ng-click="clickCompany(5)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">北京金融街房地产顾问有限公司</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>北京金融街房地产顾问有限公司</span></h5>
                <!-- <br/> -->
                
                <p class="clickable2" style="font-size:9px">独家租赁代理及物业管理</p>
                <!-- <h6 class="clickable2" style="font-weight:bold">独家租赁代理及物业管理：</h6> -->
                <!-- <h5 class="clickable" style="font-weight:bold" ng-click="clickCompany(6)"> -->
                <!-- <h5 class="clickable" style="font-weight:bold">  -->
                <h5 style="font-weight:bold;margin-top:-10px"> 
                <!-- <img src="resources/imgs/text-icon.png">&nbsp;<span class="clicktext">仲量联行</span></h5> -->
                <img src="resources/imgs/text-icon.png">&nbsp;<span>仲量联行</span></h5>
                <!-- <br/> -->

                
                
            </div>      
        </div>
          
        <div class="company_col_2">
            <img id="imageShow" src="resources/imgs/split.png">
        </div>

        <div class="company_col_3">
            <div class="company_text">
                <p id="textShow1" style="font-size:">
                dreamsfount35th( 锦什坊街叁拾伍号) 网由北京国有资本经营管理中心管理运营。北京国有资本经营管理中心（简称“国管中心”）是北京市属国有独资大型投资控股公司，成立于2008年12月30日。截至2014年1月，资产总额14600亿元，累计投资总额近700亿元人民币。
                </p>

                <p id="textShow1" style="margin-top: -10px">
                国管中心业务领域包括：制造与科技，消费与零售，能源与新材料，基础设施与地产，医疗与健康，金融服务等六大板块。既涵盖汽车、钢铁、装备制造、电子、医药、食品、建材、基础设施、房地产等传统实业，又包括银行、证券、私募基金、信用担保、财务公司等金融服务业。
                </p>

                <p id="textShow1" style="margin-top: -10px">
                国管中心承担北京战略性产业项目投资，是以国有资本经营和国有股权管理为重点，以国有资本的证券化和价值最大化为目标的投融资主体。国管中心通过积极支持国企产业整合和改革重组，实现北京市委、市政府战略意图，推进首都金融产业布局，促进先导性产业发展和企业科技创新，在实施北京经济、社会发展战略和国际金融中心建设中发挥着国有大型企业集团的重要作用。
                <p/>
                    <!-- {{companyContent}} -->
                </p>
                <div class="site">
                <span style="font-size:15px;"></span><span id="textShow2" class="title-color">{{url1}}</span><br\>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="textShow3" class="title-color">{{url2}}</span>
                </div>
            </div>
        </div>

    </div>

</center>
